body {
	background-color: black;
	height: 100%;
	margin: 0;
	padding: 0 5%;
	color: #b51111;
}

html {
	height: 100%;
}

nav {
	font-family: arial;
	font-weight: bolder;
}


#about {
	//font-size: 400%;
	margin: 0px auto;
	text-align: center;
}

#about div {
	font-size: 120%;
}


#aboutHeader {
	font-family: arial;
	font-weight: bolder;
}

#contactDivHeader {
	font-size: 400%;
} 

#enter {
	bottom: 40px;
	color: white;
	position: absolute;
	text-align: center;
	width: 100%;
}

#enterButton {
	font-family: arial;
	font-weight: bolder;
	margin: 0 auto;
	text-shadow: 2px 5px black;
}

#enterButton a {
	color: white;
	text-decoration: none;
}

#home {
	height: 100%;
}

#homepic {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

#navimg {
	border-radius: 5%;
	height: 80px;
	width: 80px;
}

.badge-secondary {
	background-color: #b51111;
}

.btn-success {
	background-color: black;
	border-color: white;
	color: white;
}

.cart-badge {
	background-color: white;
	border-radius: 45%;
}

.categoryDiv {
	margin-top: 5%;
}

.categoryHeader {
	text-align: center;
}

.categoryHeader h1 {

	color: #b51111;
	font-family: brush script mt, cursive;
	font-size: 300%;
	text-shadow: 1px 0px silver;
}

.connectRow {
	//font-size: 200%;
}

.connectRow img {
	width: 15px;
}

.contactDetail {
	//font-size: 200%;
}

#contactDivHeader {
	font-size: 400%;
}

.contactType {
	text-align: center;
}

.container {
	max-width: 95%;
}

.input-group {
	font-size: 5%;
}

.itemPic {
	margin: 5% auto;
	width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
	color: #b51111;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #b51111;
}

.navbar-nav {
	font-size: 150%;
    margin-right: ;
}

.picsDiv {
	margin: auto;
}

.single-item {
	padding: 2%;
}
.single-item-h1 {
	color: black;
	font-weight: bolder;
	text-shadow: 0 0 1px black;
}

@media screen and (min-width: 500px) {
	#about div {
		font-size: 200%;
	}

	.contactHeader {
	font-size: 150%;
	}
	#navimg {
		height: 200px;
		width: 200px;
	}
}





@media screen and (min-width: 800px) {
	#about div {
		font-size: 250%;
	}

	#contactDiv {
		font-size: 120%;
	}

	#contactDivHeader {
	font-size: 300%;
	}

	.connectRow img {
		width: 40px;
	}
	.contactHeader {
		font-size: 200%9
	}
}
