<!DOCTYPE html>
<html lang="en">
<body>
 
    <div class="container single-item">
            <div class="container row justify-content-center m-auto"><h1 class="single-item-h1">{{product.name}}</h1></div>
            <div class="row align-items-center">
                <div class="col-12 col-sm-6">
                   <img ng-src="{{product.img_url}}" class="img-thumbnail single-style-main-img" alt=""> 
                </div>
                <div class="col-12 col-sm-6">
                    <h4>${{product.price}}</h4> 
                    <div><p>{{product.description}}</p></div>
                    <!-- <hr>
                    <form novalidate>
                        <div class="input-group" role="group">
                            <label class="btn input-group-text form-control">Bust<input ng-model="product.bust" type="text" name="bust" class="form-control"></label>
                            <label class="btn input-group-text form-control">Waist<input ng-model="product.waist" type="text" name="waist" class="form-control"></label>
                            <label class="btn input-group-text form-control">Hip <input ng-model="product.hip" type="text" name="hip" class="form-control"></label>
                            <button ng-click="addToCart()" class="btn btn-success form-control">Buy</button>
                            </div>
                    </form> -->
                    <button ng-click="addToCart()" class="btn btn-success form-control">Buy</button>
                </div>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>