<div class="container">
	<div ng-repeat="product in products">
			<div ng-if="isNewCategory(product)" class="categoryHeader col-12 float-none justify-content-center m-auto" style="clear: both;">
				<h1>{{product.category}}</h1>
			</div>
			<div class="col-6 col-lg-4 picsDiv float-left">
				<a href="#!/styles/{{product._id}}">
						<div class="" style="position:relative;">
								<div><img class="itemPic" ng-src="{{product.img_url}}"></div>
								<span class="badge badge-secondary" style="position:absolute; bottom: 10%; left: 10%;"> ${{product.price}}</span>
							</div>
				</a>
			</div>	
		</div>
	</div>
</div>

	